# Ignore node_modules
node_modules
# Ignore les fichiers de log
*.log
# Ignore les répertoires de build locaux
dist
# Ignore les fichiers de configuration locaux
.env
# Ignore les fichiers temporaires et système
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db
# Ignore les fichiers de configuration d'IDE
.idea
.vscode
# Ignore le répertoire Git
.git