<div class="container">
  <div class="page-top"></div>
  <app-carousel-custom></app-carousel-custom>
  <div class="page-cards">
    <div (click)="goToOnakine()" class="button-selectable page-card-button">
      <div class="page-card-title flex-center">ONAKINE BETA</div>
      <div class="flex-center">
        <img src="../assets/img/applications/onakine/onakine2.png" />
      </div>
    </div>

    <div (click)="goToTurquoise()" class="button-selectable page-card-button">
      <div class="page-card-title flex-center">TURQUOISE EVENEMENT</div>
      <div class="flex-center">
        <img src="../assets/img/applications/turquoise/turquoise2.png" />
      </div>
    </div>

    <div class="page-card-button">
      <div class="page-card-title flex-center">ARTGORITHME</div>
      <div class="flex-center">
        <img src="../assets/img/applications/artgorithme/artgorithme2.png" />
      </div>
    </div>

    <div class="page-card-button">
      <div class="page-card-title flex-center">ONATEST</div>
      <div class="flex-center">
        <img src="../assets/img/applications/onatest/onatest2.png" />
      </div>
    </div>

    <div class="page-card-button">
      <div class="page-card-title flex-center">ONADAI</div>
      <div class="flex-center">
        <img src="../assets/img/applications/onadai/onadai2.png" />
      </div>
    </div>
  </div>
  <div class="page-article animate" appIntersectionObserver>
    <div class="page-article-body">
      <div class="page-article-body-side filtre-degrade">
        <img src="../assets/img/code-article.jpeg" />
      </div>
      <div class="page-article-body-side">
        <h2>Votre projet, notre expertise</h2>
        <h3>
          Onadapp vous suis sur tous vos projets de developpement informatique
          sur chaque secteurs. Grâce aux expertises variées de nos
          collaborateurs, vos projets auront le meilleur pour chaque étape de
          leur progression. De l'application au logiciel, du site au multimédia
          en passant par le jeu vidéo, choisissez les meilleurs, choisissez
          Onadapp !
        </h3>
      </div>
    </div>
  </div>
  <div class="page-article animate" appIntersectionObserver>
    <div class="page-article-body">
      <div class="page-article-body-side filtre-degrade">
        <img src="../assets/img/technologie.jpeg" />
      </div>
      <div class="page-article-body-side">
        <h2>La pointe de la technologie</h2>
        <h3>
          Toujours à la pointe de la technologie, les derniers langages, les
          derniers framework et maintenant l'utilisation de l'IA (intelligence
          artificielle). Notre équipe de passionnés vous offrira ce qu'on fait
          de mieux en ce moment, dans une ère ou tout évolue si vite c'est très
          important. N'hésitez pas à nous contacter pour parler technologie,
          nous adorons ça !
        </h3>
      </div>
    </div>
  </div>

  <div class="page-article animate" appIntersectionObserver>
    <div class="page-article-body">
      <div class="page-article-body-side filtre-degrade">
        <img src="../assets/img/guillaumeCK.jpg" />
      </div>
      <div class="page-article-body-side">
        <h2>Qui nous sommes ?</h2>
        <h3>
          Fondé par Guillaume Cornet en France, Onadapp est une entreprise de
          création digitale avec des expertises diverse, regroupant des
          passionnés motivés de tous les secteurs. Du développement à
          l'architecture reseau, du hardware au software, du mobile au pc, du
          jeu vidéo au multimédia, aucune limite à vos projets avec les équipes
          d'Onadapp !
        </h3>
      </div>
    </div>
  </div>
  <div class="page-bottom"></div>
</div>
