// --------------------------------------------
//           MAIN COMPONENTS STYLE
// --------------------------------------------

$dark-blue: #33373f;
$dark-blue-light: #41454e;
$grey-blue: #707686;
$grey-blue-lightS: #aeb5c5;
$grey-blue-light: #cad0dd;
$white-blue-light: #e9edf5;
$white: #ffffff;

$cream-yellow: #f1e794;
$cream-light: #dbdbd3;
$red-alert: #d54522;
$green-valid: #13a838;

$transparent: #00000000;
