@import "/src/scss/palette";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* S'assure que le conteneur prend toute la hauteur de la fenêtre */
}

.main-container {
}

/* loading-screen.component.css */
.loading-container {
  font-family: monospace;
  display: flex;
  justify-content: center;
  font-size: 7vh;
  white-space: nowrap;
  overflow: hidden;
  color: $white;
}

.cursor {
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
